<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028673394623-056kfafuqpjj0tnjelqgoa4orsu13o3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028673394623-056kfafuqpjj0tnjelqgoa4orsu13o3r</string>
	<key>API_KEY</key>
	<string>AIzaSyCZuMZkOGpXAQTK6-ITfGDpDAYPIEKZsCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1028673394623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>academy.ufpe.br.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist2-d5e25</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist2-d5e25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028673394623:ios:ed166f5aa4e51ef840330a</string>
</dict>
</plist>